body {
    margin: 0%;
    padding: 0%;
}

header {
    height: 5rem;
    width: 100%;
    background-color: #605151;
}

nav {
    height: 5rem;
    width: 100%;
    background-color: #605151;
    border-top: 0.15rem groove white;
    border-bottom: 0.15rem groove white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

article {
    height: 30rem;
    width: 100%;
    background-color: #605151;
}

footer {
    height: 5rem;
    width: 100%;
    background-color: #605151;
    border-top: 0.15rem groove white;
}

.no-button-look {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    margin-left: 12.5rem;
    margin-right: 1rem;
}

.search-container {
    width: 100%;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

.search-bar {
    height: 2rem;
    width: 45rem;
    font-size: 1rem;
    margin-left: 15rem;
}

.IMG_BOX {
    width: 5rem;
    height: 4rem;
    background-image: url('img/logoWEB2.jpg');
    background-size: cover;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

.no-button-look2 {
    background: transparent;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    margin-left: 15rem;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 1.5625rem;
    font-size: 2.25rem;
    margin-left: 3.125rem;
}

.settings-box {
    background-color: #333;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
}

.settings-box ul {
    list-style-type: none;
    padding-left: 0;
}

.settings-box li {
    margin-bottom: 0.625rem;
}

.settings-box a {
    color: white;
    font-size: 1.125rem;
    padding: 0.625rem;
    display: block;
}

.light-mode-setting {
    display: flex;
    align-items: center;
}

.light-mode-setting label {
    color: white;
    margin-right: 0.625rem;
    font-size: 1.125rem;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar li {
    margin-bottom: 0.625rem;
}

.sidebar a {
    color: #818181;
}

.sidebar a:hover {
    color: #f1f1f1;
}