body {
    margin: 0%;
    padding: 0%;
}

header {
    height: 5rem;
    width: 100%;
    background-color: #605151;
}

nav {
    height: 5rem;
    width: 100%;
    background-color: #605151;
    border-top: 0.15rem groove white;
    border-bottom: 0.15rem groove white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

article {
    height: 30rem;
    width: 100%;
    background-color: #605151;
}

footer {
    height: 5rem;
    width: 100%;
    background-color: #605151;
    border-top: 0.15rem groove white;
}

.no-button-look {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    margin-left: 12.5rem;
    margin-right: 1rem;
}

.search-container {
    width: 100%;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

.search-bar {
    height: 2rem;
    width: 45rem;
    font-size: 1rem;
    margin-left: 10rem;
    margin-top: 1.5rem;
}

.IMG_BOX {
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 7rem;
    width: 5rem;
    height: 2rem;
    background-image: url(img\logoWEB.jpg);
    background-size: cover;
}

.no-button-look2 {
    background: transparent;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 17.5rem;
}